@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --light-grey:#f1f2f3;
  --medium-grey:#d3d1d1;
  --light-dark-grey:#808080;
  --crimson:#1414dc;
  --light-olive:#bcb88a;
  --dark-green:#ac397a;

}
body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--medium-grey);
}

code {
  font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

