@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --light-grey:#f1f2f3;
  --medium-grey:#d3d1d1;
  --light-dark-grey:#ad98b5;
  --crimson:#1414dc;
  --light-olive:#ae6970;
  --dark-green:#ac397a;

}
body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--medium-grey);
}

code {
  font-family :'Times New Roman', Times, serif
}

